apiVersion: v1
kind: Service
metadata:
  name: reservations-backend
  labels:
    app: reservations-backend
    app.kubernetes.io/name: reservations-backend
    app.kubernetes.io/part-of: biletado
    app.kubernetes.io/component: backend
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 8000
    targetPort: http
    protocol: TCP
  selector:
    app: reservations-backend
